.megamenu {
    background: #007bff;
    z-index: 15;
  }
  .megamenu .megamenu-nav {
    padding: 0;
    margin: 0;
  }
  .megamenu .megamenu-nav .nav-item {
    display: block;
  }
  .megamenu .megamenu-nav .nav-item.is-open > .megamenu-content {
    visibility: visible;
    opacity: 1;
  }
  .megamenu .megamenu-nav .nav-item.is-open > .nav-link {
    background: #fff;
    color: #333;
  }
  .megamenu .megamenu-nav .nav-link {
    color: #686868;
    padding: 14px 14px;
    font-size: 16px;
  }
  .megamenu .megamenu-nav .nav-link:hover {
    background: #fff;
    color: #333;
  }
  .megamenu .megamenu-content {
    position: absolute;
    left: 0;
    right: 0;
    top: 54px;
    overflow: hidden;
    visibility: hidden;
    background-color: #fff;
    opacity: 0;
    z-index: 14;
    transition: all .3s ease-in-out;
    box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
    margin: 0px 40px;
  }
  .megamenu .megamenu-content .container-menu {
    padding: 0px 15px 45px 15px;
  }
  .megamenu .megamenu-content .container-menu .sub-menu-col{
    padding: 45px 30px 20px 30px;
  }
  .megamenu .megamenu-content .nav-menu-subtitle {
    font-size: 18px;
    text-transform: capitalize;
  }
  .megamenu .megamenu-content .subnav {
    margin: 0;
    padding: 0;
  }
  .megamenu .megamenu-content .subnav-item {
    display: block;
  }
  .megamenu .megamenu-content .subnav-item .subnav-link {
    color: #000;
    padding: 2px 0;
    display: block;
  }
  .megamenu .megamenu-content .subnav-item .subnav-link:hover {
    text-decoration: underline;
  }
  
  .megamenu-background {
    background: none;
    /* background: #fff; */
    position: absolute;
    left: 0;
    top: 54px;
    right: 0;
    height: 0;
    transition: all .3s ease-in-out;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
    z-index: 13;
  }
  
  .megamenu-dim {
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 54px;
    visibility: hidden;
    opacity: 0;
    z-index: -12;
    transition: all .3s ease-in-out;
  }
  body.megamenu-visible .megamenu-dim {
    z-index: 12;
    visibility: visible;
    opacity: 1;
  }
  